.topbar {
  background-color: red;
  padding: 10px;
  text-align: right;
  }

.topbar a{
  color: white;
  padding-right: 15px;
  font-weight: 700;
  }

.header-content{
  display:flex;
  background-color: rgb(23,44,65);
  color: antiquewhite;
  text-align: center;
  align-items: center;
  }

.logo{
  height: 100px;
  width: auto;
  padding: 10px 30px;
  }

.headline{
  font-size: 18px;
  padding-right: 30px;
  flex: 4;
  }

.headline li{
  display: inline;
  padding-right: 30px;
  }

button {
  background-color: orangered;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  }

.footer-content{
  padding: 10px 50px;
  display: flex;
  background-color: rgb(23,44,65);
  text-decoration: none;
  color: antiquewhite;
  }

.links{
  flex: 4;
  }

.links a{
  color: antiquewhite;
  padding-right: 15px;
  font-weight: 700;
  text-decoration: none;
  }

i {
  cursor: pointer;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  }
    
 