.header-content{
  display:flex;
  background-color: rgb(28, 156, 77);
  }
    
.main-section{
      height:500px;
    }

    .bottom-part{
      display: flex;
      background-color: rgb(23,44,65);
      padding: 15px; 
    }

  .links a{
    color:rgba(253,254,250);
  margin-top:20px;
  margin-left:40px;
  font-weight:bold;
  text-decoration:none; 
  font-size:20px;
  }

  .text{
  color:rgba(255, 255, 255, 0.562);
  line-height:1.8;
  margin-left: 40px;
  margin-top: 20px;
  font-size:15px;
  }

  .iconss{
    display: flex;
    flex-direction: row;
    margin-left:170px;
  margin-top:-20px;
  }

  .logo{
    margin-right:30px;
    margin-bottom: 20px;
  }
  
  .contact{
    color:rgba(255, 255, 255, 0.562);
  }

    #headerbox1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background-color: rgb(93, 93, 240);
      padding: 10px;
      color: white;
       background-color: #cf2e2e;
    }

    #headerbox2 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
     
    }

    #headerbox3 {
      display: flex;
      gap: 15px;
      font-size: 18px;
    }
   .headerbox4{
    display:flex;
   }
    button {
      background-color: orangered;
      color: white;
      padding: 6px 10px;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    i {
      cursor: pointer;
    }

    .school-name{
    
      font-size:60px;
      color:black;
      margin-left:200px;
     
    }
    #address{
      font-size: 25px;
      color: white;
    }
    .logo{
      color: black;
      height: 200px;
      width: 200px;
      margin-left: 330px;
     
    }
    #pin{
     margin-left: 200px;
    }