<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St Francis Ramnagar Alumni Association</title>

    <!--  CDN is used for connect your html to online server  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/members.css">
  </head>

  <body>
    <!-- Header Section -->
    <header>
        <div class="topbar">
          <a>Become a Member</a>
          <a>Student Resources</a>
          <a>Alumni Directory</a>
          <a>FAQ</a>
          <a>MyStudy Login</a>
        </div>

      <div class="header-content">
        <div style="flex: 1;">
            <img class="logo" src="../assets/logo.png" alt="logo">
        </div>
        <div style="flex: 2;">
          <h1>St Francis Ramnagar </br>Alumni Association</h1>
        </div>
        <div class="headline">
            <ul>
                <a href="../index.html">Home</a>
                <a>Who We Are </a>
                <a>Get Involved </a>
                <a>Diversity </a>
                <a>Events </a>
                <a>News </a>
                <a>Donor Walls </a>
                <a href="members.html">Members</a>
                <button>DONATE </button>
            </ul>
          </div>
      </div>
    </header>

    <!-- Main Content -->
    <main>
        <h2>Alumni Association Members</h2>
        <center>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Photo</th>
                </tr>
                <tr>
                    <td>Mr. Abhishek Singh</td>
                    <td>President</td>
                    <td><img src="../assets/abhishek_singh.jpeg" alt="" height="100px"></td>        
                </tr>
                <tr>
                    <td>Dr. Ankita Patel</td>
                    <td>Vice-President</td>
                    <td><img src="../assets/ankita_patel.png" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Pawan Kumar Singh</td>
                    <td>Secretary</td>
                    <td><img src="../assets/pawan_singh.png" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Mohit Bharukha</td>
                    <td>Treasurer</td>
                    <td><img src="../assets/mohit_bharukha.jpeg" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Ravi Prakash</td>
                    <td>Relationship Manager</td>
                    <td><img src="../assets/logo.png" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Saurabh Kumar Singh</td>
                    <td>Event Manager</td>
                    <td><img src="../assets/saurabh_singh.jpeg" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Dr. Ashwani Kumar Singh</td>
                    <td>Membership Incharge</td>
                    <td><img src="../assets/ashwani_singh.jpeg" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Prabhal Singh</td>
                    <td>Membership Incharge</td>
                    <td><img src="../assets/prabhal_singh.jpeg" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Vikas Singh</td>
                    <td>Community Service/Scholarship</td>
                    <td><img src="../assets/logo.png" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Agnivesh</td>
                    <td>Social Media Co-ordinator</td>
                    <td><img src="../assets/agnivesh.jpeg" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mr. Rishi Kumar</td>
                    <td>Social Media Co-ordinator</td>
                    <td><img src="../assets/logo.png" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mrs. Rashmi Sinha</td>
                    <td>Honorary Member</td>
                    <td><img src="../assets/logo.png" alt="" height="100px"></td>
                </tr>
                <tr>
                    <td>Mrs. Shweta Jaiswal</td>
                    <td>Faculty Co-ordinator</td>
                    <td><img src="../assets/logo.png" alt="" height="100px"></td>
                </tr>
            </table>
        </center>
    </main>

    <!-- Footer Section -->
    <footer>
      <div class="footer-content">
        <div class="links">
          <h3>Quick Links</h3>
          <a href="#">Donate</a><br>
          <a href="#">Become A Member</a><br>
          <a href="#">FAQ</a><br>
          <a href="#">Privacy Policy</a><br>
          <a href="#">Contact Us</a>
        </div>
        <div style="flex: 4;">
          <h3>Connect With Us</h3>
          <p><b>Email:</b> sfraa2026@gmail.com</p>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsppp"></i>
        </div>
        <div style="flex: 1;">
          <img class="logo" src="../assets/logo.png" alt="">
        </div>
      </div>
    </footer>
  </body>
</html> 
